{% extends 'base.html' %}

{% block head %}
<title>Contact Us</title>
{% endblock %}

{% block body %}
<section id="contact-us">
<div class="contact-form-wrapper">
    <form id="contact-form" action="#" method="POST">
        <h2>Contact us</h2>
        <p class="description">Got a query? You can contact us using the form below or on our social media pages.</p>
        {{ form.csrf_token }}
        <div class="contact-form-item">
            {{ form.name }}
        </div>
        <div class="contact-form-item">
            {{ form.email }}
        </div>
        <div class="contact-form-item">
            {{ form.query }}
        </div>
        <div class="submit-button-wrapper">
            <button class="submit contact-submit" value="Send">SEND</button>
        </div>
    </form>
</div>
</section>
{% endblock %}